@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Space Grotesk', sans-serif;
  padding: 20px;
}
